# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
frontend/node_modules/
api-gateway/node_modules/
publication/node_modules/
user/node_modules/

# Build directories
frontend/build/
api-gateway/build/
publication/build/
user/build/

# Environment variables
frontend/.env
api-gateway/.env
publication/.env
user/.env

# Miscellaneous
.DS_Store
Thumbs.db